.clients {
  padding-bottom: 60px;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }

  &__item:nth-last-child(2n + 1) {
    margin-right: 0;
  }

  &__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  &__link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color $transition-duration $timing-function;
  }

  &__icon {
    fill: #afb1b8;
    transition: fill $transition-duration $timing-function;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color;
  }

  &__link:hover &__icon {
    fill: $accent-color;
  }
}

@media screen and (min-width: 767px) {
  .clients {
    &__item {
      width: calc((100% - 30px * 2) / 3);
      margin-right: 30px;
    }
  }
}

// &__item {
//   width: calc((100% - 30px * 5) / 6);
//   margin-right: 30px;
// }

// &__item:last-child {
//   margin-right: 0;
// }
