.clients {
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item {
    width: calc((100% - 30px * 5) / 6);
    margin-right: 30px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color $transition-duration $timing-function;
  }

  &__icon {
    fill: #afb1b8;
    transition: fill $transition-duration $timing-function;
  }

  &__link:hover,
  &__link:focus {
    border-color: $accent-color;
  }

  &__link:hover &__icon {
    fill: $accent-color;
  }
}
