.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $transition-duration $timing-function;
    font-size: 18px;
    @media screen and (min-width: 1200px) {
      font-size: $font-size;
      align-items: baseline;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__envelope,
  &__tel {
    margin-right: 10px;
    fill: #757575;
    transition: fill $transition-duration $timing-function;
  }

  &__link:hover &__tel,
  &__link:hover &__envelope {
    fill: $accent-color;
  }
}
