.employee {
  background-color: $primary-bg-color;
  padding-bottom: 60px;

  &__item {
    margin-bottom: 30px;
    background-color: $additional-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__name {
    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin: 30px 0 0;
    text-align: center;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    margin: 10px 0 16px;
    text-align: center;
  }
}

.social-links {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 10px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    display: block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    transition: background-color $transition-duration $timing-function;
  }

  &__icon {
    fill: #afb1b8;
    transition: fill $transition-duration $timing-function;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &__icon {
    fill: $additional-color;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .employee {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 30px) / 2);
      margin-right: 30px;
    }

    &__item:nth-child(2n) {
      margin-right: 0;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__item:nth-child(3),
    &__item:nth-child(4) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .employee {
    padding-bottom: 94px;
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      margin-right: 30px;
      margin-bottom: 0;
    }
    &__item:last-child {
      margin-right: 0;
    }
  }
}
