.footer {
  text-align: center;
  margin-bottom: 60px;

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &-container {
    padding: 60px 15px;
    // display: flex;
    align-items: baseline;
  }

  &__address {
    line-height: 1.71;
    font-style: normal;
  }

  &__text {
    color: $additional-color;
    display: inline-block;
    margin: 0 0 9px;
    display: inline-block;
    width: 231px;
  }
}

.footer-list {
  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color $transition-duration $timing-function;
  }

  &__link:hover,
  &__link :focus {
    color: $accent-color;
  }

  &__item {
    margin-bottom: 9px;
  }

  &__item:nth-child(2n) {
    margin-bottom: 0;
  }
}

.footer-join {
  text-align: center;
  margin-bottom: 60px;
  // justify-content: center;
  // max-width: 206px;
  // flex-wrap: wrap;
  // margin-right: 93px;

  &__text {
    // width: 145px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1, 14;
    text-transform: uppercase;
    color: $additional-color;
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin-right: 10px;
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: block;
    padding: 12px;
    background-color: #ffffff1a;
    border-radius: 50%;
    transition: background-color $transition-duration $timing-function;
  }

  &__icon {
    fill: #afb1b8;
    transition: fill 250ms var(--timing-function);
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &__icon {
    fill: $additional-color;
  }
}

.footer-subscribe {
  text-align: center;
  // width: 570px;

  &__text {
    font-size: $font-size;
    font-weight: 700;
    line-height: 1, 14;
    text-transform: uppercase;
    color: $additional-color;
    margin: 0 0 20px;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    color: $additional-color;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-bottom: 20px;
  }
}

.subscribe-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  padding: 10px 29px 10px 28px;
  color: $additional-color;
  background-color: $accent-color;
  border: none;
  cursor: pointer;
  // margin-left: 12px;

  &__icon {
    vertical-align: middle;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $additional-color;
  }
}
