.hero {
  background-color: $bg-color;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;

  &__container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
  }

  &__title {
    color: $additional-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 0 30px;
  }
}

.hero-btn {
  color: $additional-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: $accent-color;
  display: inline-block;
  padding: 10px 32px;
  cursor: pointer;

  &:focus,
  &:active {
    outline: $accent-color;
  }
}
