.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $transition-duration $timing-function;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  // width: 450px;
  // height: 609px;
  // width: 528px;
  // height: 581px;

  width: 450px;
  height: 609px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $additional-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__heading {
    color: $title-color;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    // width: 448px;
    margin-top: 40px;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
  }
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: $primary-bg-color;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.modal-close-button:active,
.modal-close-button:focus {
  outline: none;
}

.modal-close-button:hover .modal-close-button__icon {
  fill: $accent-color;
}

.modal-close-button__icon {
  fill: #000000;
  transition: fill $transition-duration $timing-function;
}
