.input-forms {
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.input-field {
  margin: 0 40px 10px;
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(14px);
    width: 18px;
    height: 18px;
    fill: $title-color;
    transition: fill $transition-duration $timing-function;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $accent-color;
  }

  &__input {
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border $transition-duration $timing-function;
    margin-top: 4px;
    padding: 11px 11px 11px 42px;

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }

  &:hover &__input,
  &:hover &__textarea {
    border: 1px solid $accent-color;
    outline: $accent-color;
  }

  &__input:focus,
  &__textarea:focus {
    border: 1px solid $accent-color;
    outline: $accent-color;
  }

  &__input:focus + &__icon {
    fill: $accent-color;
  }

  &__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      .input-field:hover &,
      .input-field:focus & {
        color: $accent-color;
      }
    }
  }

  &__textarea {
    width: 370px;
    padding: 0;
    margin: 4px 0 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border $transition-duration $timing-function;
    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }

  &__textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    padding-top: 12px;
    padding-left: 16px;
  }
}

.policy {
  margin-left: 40px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-left: 52px;
  }

  &__label {
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 1.71;

    @media screen and (min-width: 1200px) {
      font-size: $font-size;
    }
  }

  &__label::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color;
    border-radius: 2px;
  }

  &__checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
  }

  &__checkbox:checked + &__label::before {
    background-color: $accent-color;
    background-image: url(../images/policy-icon.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
  }

  &__link {
    color: $accent-color;
    margin-left: 4px;
  }
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  height: 50px;
  padding: 10px 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: $additional-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
