.main {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  &__list {
    display: none;
    // display: flex;
    margin-left: 93px;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    color: $title-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
    padding: 32px 0;
    transition: color $transition-duration $timing-function;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--current {
    color: $accent-color;
    position: relative;
  }

  &__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
}
