.projects {
  // display: flex;
  // flex-wrap: wrap;

  &__element {
    text-align: left;
    margin: 0 30px 30px 0;
    // width: calc((100% - 30px * 2) / 3);
    border: 1px solid #eeeeee;
    transition: box-shadow $transition-duration $timing-function;
  }

  &__element:nth-child(3n) {
    margin-right: 0;
  }
  &__element:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &__element:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__link {
    text-decoration: none;
  }

  &__link:hover .projects-box__text {
    transform: translateY(0);
  }
}

.projects-box {
  position: relative;
  overflow: hidden;

  &__text {
    position: absolute;
    font-size: 18px;
    line-height: 1.56;
    color: $primary-bg-color;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    pointer-events: none;
    bottom: 0;
    transform: translateY(100%);
    transition: transform $transition-duration $timing-function;
  }
}

.card-content {
  padding: 20px 24px;

  &__title {
    color: $title-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin: 0 0 4px;
  }

  &__item {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
