$primary-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$additional-color: #ffffff;
$logo-color: #000000;
$bg-color: #2f303a;
$primary-bg-color: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$font-family: "Roboto", sans-serif;
$logo-font-family: "Raleway", sans-serif;
$font-size: 14px;
$letter-spacing: 0.03em;
